# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Catalogs
inter/
builder/
intermediate/
.vs/

# Other
*.pdb
*.json
*.cmake
*.bin
/include/glm/out/build/x64-Debug (default)
/include/tinyxml/Debugtinyxml/tinyxml.tlog
/include/tinyxml/Debugtinyxml
/include/tinyxml/docs
/include/tinyxml/Releasetinyxml/tinyxml.tlog
/include/tinyxml/Releasetinyxml
/include/tinyxml/ReleasetinyxmlSTL
/include/tinyxml/ReleasetinyXmlTest/tinyXmlTest.tlog
/include/tinyxml/ReleasetinyXmlTest
/include/tinyxml/x64
/include/tinyxml
/res/img/Без имени-1.psd
